body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fefcf7;
  text-align: center;
}

.header {
  background-color: #fdb913; /* oranye */
  color: #000;
  padding: 20px;
  position: relative;
}

.title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.close-btn {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 24px;
  cursor: pointer;
}

.chat-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 22px;
}

.content {
  padding: 10px 20px;
}

.check-circle {
  font-size: 40px;
  color: green;
  background-color: white;
  width: 60px;
  height: 60px;
  margin: 20px auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

p {
  font-size: 16px;
  color: #333;
}

.btn-ok {
  background-color: red;
  color: white;
  border: none;
  width: 80%;
  max-width: 300px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  margin: 20px auto;
  display: block;
  cursor: pointer;
}